.postBanner {
  min-height: 300px;
  min-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.5em;
  color: whitesmoke;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 1px 15px 50px 5px rgba(24, 40, 72, 1);
  border-radius: 10px;
  z-index: 10;
}

.postSideBarContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.postContainer,
.navBar {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.postContainer {
  justify-content: flex-start;
  min-height: 100%;
}

.navBar {
    padding: 1em;
}

.sideNavOpen {
  animation-duration: 0.5s;
  animation-name: sideBarOpenAnim;
  animation-fill-mode: forwards;
  transform-origin: right;
}

.sideNavClose {
  animation-duration: 0.5s;
  animation-name: sideBarCloseAnim;
  animation-fill-mode: forwards;
  transform-origin: right;
}

/* animations */
@keyframes sideBarOpenAnim {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(0.7, 0.95);
  }
}

@keyframes sideBarCloseAnim {
  from {
    transform: scale(0.7, 0.95);
  }

  to {
    transform: scale(1, 1);
  }
}
